<a href="https://colab.research.google.com/github/josueorellana/PrograIII-2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")
nombre = "Josue Orellana"
print("hola",nombre, ",inicial:",nombre [0], nombre [5])

Hola mundo
hola Josue Orellana ,inicial: J

EJERCICIOS,crear un programa en Phyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 6
resp = num1 + num2
print("El resultado es :", resp)

El resultado es : 11

Ejercicio, crear un programa en phyton que sume dos numeros introducidos por el usuario

In [ ]:
print("num 1")
num1 = float(input())

print("num 2")
num2 = float(input())

resp = num1 + num2
print("la suma es: ",resp)

num 1
2
num 2
3
la suma es:  5.0

In [ ]:
from typing import Type

nombre ="Josue David"
print (nombre [0:4], nombre[:4], nombre[-1], nombre[5 :len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Josu Josu d  David
True
<class 'str'> <class 'float'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en Phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero"))
if num % 2 == 0:
  print("El numero es par", num)

else:
    print("El numero es impar")

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma (num1, num2):
  return num1 + num2

num1 = float (input("Num 1: "))
num2 = float (input("Num 2: "))

resp = suma (num1, num2)
print("La suma es: ", resp)

Num 1: 5
Num 2: 9
La suma es:  14.0

EJERCICIO: Convertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

c = float(input("Celsius: "))
print("F: ",convertir_cf(c))

Celsius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar.

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "Par"
  return "Impar"

num = int(input("Num: "))
print("El numero ", num, " es: ", parImpar(num))

Num: 9
El numero  9  es:  Impar

**TAREA:**
EJERCICIOS:
1. Convertir grados Farenheits a Celsius.

In [ ]:
def conversor(f):
  c = (f-32) * 5/9
  return c

f = float(input("""Ingrese el numero de grados Farenheits a convertir:
 """))
print(F"La conversion a grados Celsius es: {conversor(f)}")

Ingrese el numero de grados Farenheits a convertir:
 60
La conversion a grados Celsius es: 15.555555555555555

2. Convertir de grados [Celsius y Farenheit] a Kelvin.

In [23]:
print("""Seleccione la opción de conversión:
1. Celsius a Kelvin
2. Fahrenheit a Kelvin""")
opcion = int(input("""Ingrese la opción (1 o 2):
"""))

def CelsiusAkelvin(c):
    return c + 273.15

def FahrenheitAkelvin(f):
    return (f - 32) * 5 / 9 + 273.15

if opcion == 1:
        c = float(input("""Ingrese los grados Celsius a convertir:
"""))
        print(f"La conversión a grados Kelvin es: {CelsiusAkelvin(c):.2f}")
elif opcion == 2:
        f = float(input("""Ingrese los grados Fahrenheit a convertir:
"""))
        print(f"La conversión a grados Kelvin es: {FahrenheitAkelvin(f):.2f}")
else:
        print("Opción no válida. Por favor, seleccione 1 o 2.")

Seleccione la opción de conversión:
1. Celsius a Kelvin
2. Fahrenheit a Kelvin
Ingrese la opción (1 o 2):
1
Ingrese los grados Celsius a convertir:
1
La conversión a grados Kelvin es: 274.15

EJERCICIO: Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30
    return sueldo

numHrs = int(input("Horas: "))
valorXHrs = float(input("valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
valor: 1.5
Sueldo:  540.0

EJERCICIO: Elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0,exponente=2):
  return base ** exponente

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 3
Cuadrado:  27

USANDO FUNCIONES LAMBDA.

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base ** exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
serie = [2,4,8,10,12,14]
resp = list (map(lambda x: x** 0.5, serie))
print(resp)

[1.4142135623730951, 2.0, 2.8284271247461903, 3.1622776601683795, 3.4641016151377544, 3.7416573867739413]